*.pyc

.DS_Store
# Packages
/dist/*

# Unit test / coverage reports
.coverage
.pytest_cache

# Python
.python-version

# Editor
.idea/*
.vscode/*

# Cache
__pycache__

# Environment
.env
.venv

# Formatter
.ruff_cache

# Logs
logs/*
*.log
*.log.*
*.log.*.*
